.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: rgb(196, 188, 161);
}
.logo {
  padding-left: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.container nav {
  display: flex;
}

.burgerBtn {
  width: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.burgerBtn img {
  width: 100%;
  height: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: cadetblue;
  top: 90px;
}

@media only screen and (max-width: 768px) {
  .container nav {
    display: none;
  }
  .burgerBtn {
    display: flex;
  }
}
