.container {
  h2 {
    padding: 1rem;
    text-align: center;
  }
}
.mainContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
}
.imageWrapper {
  display: flex;
  justify-content: center;
  height: 350px;
}
.rating {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.ratingGreen {
  background-color: green;
}
.ratingRed {
  background-color: red;
}
.ratingYellow {
  background-color: rgb(242, 234, 9);
  color: black;
}
.info {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.otherInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;

  h4 span {
    font-weight: 100;
  }
}

.deleteBtn {
  width: 100px;
  padding: 0.5rem;
  background-color: rgba(255, 0, 0, 0.448);
  border: none;
  cursor: pointer;
  color: white;
}
.deleteBtn:hover {
  background-color: rgba(255, 0, 0, 0.89);
}
